<div class="mt-4">

    <div>
        <a href="/me/stored/courses">Khoa hoc cua toi</a>
        <h3>Khoa hoc da xoa</h3>
    </div>
    <table class="table mt-4">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Tên khóa học</th>
                <th scope="col" colspan="2">Thời gian xoa</th>
            </tr>
        </thead>
        <tbody>
            {{#each courses}}
            <tr>
                <th scope="row">{{sum @index 1}}</th>
                <td>{{this.name}}</td>
                <td>{{this.deletedAt}}</td>
                <td>
                    <a href
                        class="btn btn-link btn-restore"
                        data-id="{{this._id}}">Khoi phuc</a>
                    <a href class="btn btn-link"
                        data-id="{{this._id}}"
                        data-toggle="modal"
                        data-target="#delete-course">Xoa vinh vien</a>
                </td>
            </tr>

            {{else}}
            <tr>
                <td colspan="5" class="text-center">
                    Thung rac trong!!!
                    <a href="/me/stored/courses/">Khoa hoc cua ban</a>
                </td>
            </tr>
            {{/each}}
        </tbody>
    </table>
</div>

{{!-- Confirm xoa khoa hoc--}}
<div class="modal fade" id="delete-course" tabindex="-1" role="dialog"
    aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Ban chac chan
                    muon xoa</h5>
            </div>
            <div class="modal-footer">
                <button id="btn-delete-course" type="button"
                    class="btn btn-danger">Xoa</button>
                <button type="button" class="btn btn-secondary"
                    data-dismiss="modal">Huy</button>
            </div>
        </div>
    </div>
</div>

<!-- delete hidden form -->
<form name="delete-course-form" method="POST"></form>
<form name="restore-course-form" method="POST"></form>

<script>
    document.addEventListener('DOMContentLoaded', function() {
        
        var courseId;
        var deleteForm = document.forms['delete-course-form'];
        var restoreForm = document.forms['restore-course-form']
        var btnDeleteCourse = document.getElementById("btn-delete-course");
        var restoreBtn = $('.btn-restore')
        
        $('#delete-course').on('show.bs.modal', function (event) {
        var button = $(event.relatedTarget); 
        courseId = button.data('id');
        });

        btnDeleteCourse.onclick = function () {
            deleteForm.action = '/courses/' + courseId + '/force?_method=DELETE';
            deleteForm.submit();
        }

        restoreBtn.click(function (e) {
            e.preventDefault();

            var courseId = $(this).data('id');
            restoreForm.action = '/courses/' + courseId + '/restore?_method=PATCH';
            restoreForm.submit();

        })
    })

    
</script>